/* Intel App Framework Overrides */

#afui > #navbar {
    display:none;
}

/* Global Styling */

html,body {
    height:100%;   
}

/* Qualia Styling */

#afui {
    -webkit-transition:-webkit-filter 300ms;
    -webkit-filter: blur(0px);  
}

/* Menu */

#afui.menu-on {
    -webkit-filter: blur(10px);
}

#menu {
    height:100%;
    position:relative;
    z-index:1000;
    visibility:hidden;
}

#menu span {
    display:block;
    height:44px;
    top:44px;
    position:relative;
    text-align:center;
    color:#FFF;
    line-height:2.2em;
    font-size:1.4em;
    background-color:#444;
    -webkit-transition:background-color 250ms;
}

#menu.menu-on {
    visibility:visible;
    -webkit-animation:showMenu 0.5s ease forwards;
}

#menu.menu-off {
     -webkit-animation:hideMenu 0.5s ease forwards;  
}

@-webkit-keyframes showMenu {
    0% {
        -webkit-transform: scale(0);
        opacity:0;
    }
    100% {   
        -webkit-transform: scale(1);
        opacity:1;
        pointer-events:auto;
    }
}

@-webkit-keyframes hideMenu {
    0% {
       -webkit-transform: scale(1);
        opacity:1;
        visibility:visible;
    }
    100% {
        -webkit-transform: scale(3);
        opacity:0;
        pointer-events:none;
        visibility:hidden;
    }
}

#menu a {
    display:block;
    width:55px;
    height:55px;
    border-radius:50%;
    background-color:#000;
    -webkit-transition:-webkit-transform 250ms;
}

#menu a.over {
    -webkit-transform:scale(1.5);
}

#menu a.schedule {background-color:#e9155b;}
#menu a.messaging {background-color:#c41e70;}
#menu a.mood {background-color:#8f3092;}
#menu a.flow {background-color:#407abc;}
#menu a.dashboard {background-color:#00aced;}
#menu a.information {background-color:#7064ae;}

/* Header */

#menu-button {
    display:block;
    width:44px;
    height:44px;
}