body:after{
    content:
        url(../img/icon-arrow-left.svg)
        url(../img/icon-arrow-right.svg)
        url(../img/icon-back.svg)
        url(../img/icon-close.svg)
        url(../img/icon-dashboard-menu.svg)
        url(../img/icon-dashboard-white.svg)
        url(../img/icon-dashboard.svg)
        url(../img/icon-directions.svg)
        url(../img/icon-event-light.svg)
        url(../img/icon-event-white.svg)
        url(../img/icon-facebook.svg)
        url(../img/icon-help.svg)
        url(../img/icon-hotspots-menu.svg)
        url(../img/icon-hotspots-white.svg)
        url(../img/icon-hotspots.svg)
        url(../img/icon-information-menu.svg)
        url(../img/icon-information.white.svg)
        url(../img/icon-information.svg)
        url(../img/icon-menu.svg)
        url(../img/icon-mood-menu.svg)
        url(../img/icon-mood-white.svg)
        url(../img/icon-mood.svg)
        url(../img/icon-notifications.svg)
        url(../img/icon-schedule-light.svg)
        url(../img/icon-schedule-menu.svg)
        url(../img/icon-schedule-white.svg)
        url(../img/icon-schedule.svg)
        url(../img/icon-search.svg)
        url(../img/icon-social-menu.svg)
        url(../img/icon-social-white.svg)
        url(../img/icon-social.svg)
        url(../img/icon-twitter.svg)
        url(../img/icon-view.svg)
        url(../img/idat-logo.png)
        url(../img/intercity-logo.png)
        url(../img/nesta-logo.svg)
        url(../img/qualia-logo.png)
        url(../img/switch-mask.png)
        url(../img/warwick-logo.png)
    display:none;
}