@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  src: 
    url('../fonts/Montserrat-Regular.otf') format('opentype'),
    url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  src: 
    url('../fonts/Montserrat-Bold.otf') format('opentype'),
    url('../fonts/Montserrat-Bold.ttf') format('truetype');
}


/* Global Styling */

html,body {
    width:100%;
    height:100%;
}

/* Qualia Styling */

body {
    font-size:14px;
    font-family: montserrat, arial, sans-serif;
}

body.ios7 #afui > #header header {
    padding-top:20px;
}

body.ios7 #afui > #header {
    height:64px;
}

body.ios7 #afui > #header #backButton {
    top:20px;   
}

body.ios7 #afui > #header #pageTitle {
    top:0px;
    padding: 33px 0;
}

body.ios7 #afui #content {
    top:64px;
}

body.ios #afui {
    top:20px;
}

#afui > #navbar { /* Hide Nav Bar */
    display:none;
}

#afui .panel {
    padding:0px;
}

.columns {
    padding:30px 21px;
    text-align:center;
}

.half-column {
    width:50%;
    display:inline-block;
    vertical-align:top;
}
.third-column {
    width:32%;
    display:inline-block;
    vertical-align:top;
    position:relative;
}

#afui input[type="text"], #afui input[type="email"], #afui input[type="number"], #afui input[type="date"], #afui select {
    border:0px; 
    border-radius:0px;
    outline:none; /* Hide Chrome glow on focus */
}

#afui input[type="submit"] {
    height:32px;
    font-size:13px;
    padding:5px 30px;
    border-radius:16px;
    -webkit-appearance:none;
    vertical-align:top;
}

#afui input[type="submit"]:disabled, #afui input[type="submit"]:active:disabled, .button.disabled {
    pointer-events:none;
}

#afui .range-container {
    margin-right:20px; 
    position:relative;
}

/*#afui .range-container input[type=range] {
    display:none;   
}

#afui .range-container .slider {
    height: 30px;
    border-radius: 15px;
    position: relative;
}

#afui .range-container .handle {
    width: 24px;
    height: 24px;
    display: block;
    border-radius: 12px;
    position: absolute;
    margin:3px;
}*/

#afui .range-container:after {
    content: attr(data-content);
    font-size:14px;
    display:block;  
    position:absolute;
    right:-20px;
    top:5px;
}

.noUi-target,
.noUi-target * {
-webkit-touch-callout: none;
-webkit-user-select: none;
-ms-touch-action: none;
-ms-user-select: none;
-moz-user-select: none;
-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.noUi-base {
	width: 100%;
	height: 100%;
	position: relative;
}
.noUi-origin {
	position: absolute;
	right: 0;
	top: 0;
	left: 0;
	bottom: 0;
}
.noUi-handle {
	position: relative;
	z-index: 1;
}
.noUi-stacking .noUi-handle {
/* This class is applied to the lower origin when
   its values is > 50%. */
	z-index: 10;
}
.noUi-stacking + .noUi-origin {
/* Fix stacking order in IE7, which incorrectly
   creates a new context for the origins. */
	*z-index: -1;
}
.noUi-state-tap .noUi-origin {
-webkit-transition: left 0.3s, top 0.3s;
	transition: left 0.3s, top 0.3s;
}
.noUi-state-drag * {
	cursor: inherit !important;
}

/* Slider size and handle placement;
 */
.noUi-horizontal {
	height: 30px;
}
.noUi-horizontal .noUi-handle {
	width: 24px;
	height: 24px;
    border-radius:12px;
	left: -12px;
	top: 3px;
}
.noUi-horizontal.noUi-extended {
	padding: 0 15px;
}
.noUi-horizontal.noUi-extended .noUi-origin  {
	right: -15px;
}

.noUi-origin {
	border-radius: 2px;
}
.noUi-target {
	border-radius: 16px;
}
.noUi-target.noUi-connect {
	box-shadow: inset 0 0 3px rgba(51,51,51,0.45), 0 3px 6px -5px #BBB;
}

.noUi-handle:after {
    content:"";
    display:block;
    width:44px;
    height:64px;
    position:absolute;
    left:-10px;
    top:-20px;
}

.range-container[disabled] {
	opacity:0.3;
}

/* Blocked state;
 */
.noUi-state-blocked.noUi-connect,
.noUi-state-blocked .noUi-connect {
	background: #4FDACF;
}

#afui .range-label {
    display:block;
    width:100%;   
    height:60px;
    text-align:center;
    font-size:19px;
    padding-top:16px;
    position:relative;
}

#afui .range-label:before, #afui .range-label:after {
    font-size:19px;
    display:block;  
    position:absolute;
    top:16px;
}

#afui .range-label:before {
    content:"-";
    left:0px;
}

#afui .range-label:after {
    content:"+";
    right:0px;
}


.button {
    height:40px;
    padding:0px 8px !important;
    border-radius:20px !important;
    font-size:13px !important;
    font-weight:normal !important;
    position:relative; 
    line-height:1em;
}

.button span {
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
    height:100%;
    padding-top:11px;
    display:block;
}

.button:after {
    content:" ";
    display:block;
    position:absolute;
    top:-10px;
    bottom:-10px;
    left:-10px;
    right:-10px;
}

img {
    max-width:100%;
}

img.full {
    display:block;
    margin:0 auto;   
}

img.circle {
    border-radius:34px;
    background-color:#444;
    background-repeat:no-repeat;
    background-position:34px 34px;
    background-size:34px 34px;
    width:68px;
    height:68px;
}

.content-title {
    font-family: montserrat, arial, sans-serif;
    font-size:14px;
    margin-bottom:10px;
    font-weight:bold;
    display:block;
    line-height:1em;
}

.small-text {
    font-size:12px;
    margin-bottom:8px;
    display:block;
    line-height:1em;
}

hr {
    display:block;
    height:1px;
    border:0;
}


div.hr {
    text-align:center;
    position:relative;
}

div.hr span {
    display:inline-block;
}

div.hr span:before, div.hr span:after {
    display:block;
    height:1px;
    content:" ";
    width:45%;
    position:absolute;
    left:0px;
    top:8px;
}

div.hr.disabled span:before, div.hr.disabled span:after {
    border-top:1px solid #524e52;
}

div.hr.disabled {
    color:#524e52;   
}

div.hr span:after {
    right:0;
    left:auto;
}

#afui div.padding {
    padding:30px 21px;   
}

#afui p {
    margin:0.5em 0;
    padding:0;
    line-height:1.75em !important;
    display:block;
    word-wrap:break-word;
}

#afui p:after {
    content:" ";
    display:block;
    clear:both;
}

li {
    padding:27px 21px; 
    list-style:none;
    border-bottom:1px solid #837e81; 
}

li p {
    padding:0;   
}

li:last-child {
    border-bottom:none;
}


table {
    width:100%;
}

table td {
    vertical-align:top;
}

table td.left {
    width:80px;
}

table span {
    display:block;   
}

.half-column .button {
    width:100%;
    margin:5px 0 0 0;
}

#afui .af-badge {
    height:16px;
    border-radius:16px;
    min-width:16px;
    font-size:11px;
    line-height:17px;
    text-shadow:none;
}

#afui .af-badge.tr {
    top:6px;
    right:4px;
}

#afui_mask.ui-loader {
    border-radius:5px;
}

#afui_mask.ui-loader .ui-icon.ui-icon-loading {
    background-image:url(../img/ajax-loader.gif);
    background-size:16px;
    opacity:1;
    margin-top:10px;
    margin-bottom:4px;
    width:16px;
    height:16px;
}

/* Login */

#afui #login-form .button.centre.facebook {
    margin: 0px auto 20px auto;
}

#login-form {
    text-align:center;
    max-width:450px;
    margin:0 auto;
    padding: 0px 20px 0px 20px;
}

#afui #login input[type="email"] {
    border-top:0;
    margin-top:-8px;
}

#login-form input[type="submit"] {
    height:40px;   
}

#afui #login-form .centre {
    margin:20px auto;   
}

#afui .centre {
    display:block;
    width:200px;
    margin:27px auto 27px auto;
}

#login-form .load {
    display:block;
    margin:0 auto;
}

/* Edit Profile */

#profile .button.skip {
    margin:0px auto 27px auto;
}

#profile input, #profile select {
    margin-bottom:-1px !important;
}


/* Menu */

@media (device-height : 568px) and (device-width : 320px) and (-webkit-min-device-pixel-ratio: 2) { /* iPhone 5 only */
    #content, #pageTitle, #menu-button {
        -webkit-transition:-webkit-filter 300ms;
        -webkit-filter: none;
    }
    
    #afui.menu-on #content, #afui.menu-on #pageTitle, #afui.menu-on #menu-button, #afui.menu-on #notifications-button {
        -webkit-filter: blur(3px);
    }
}

/*#menu {
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    z-index:1000;
    visibility:hidden;
    overflow:hidden;
    float:left;
    background-color:rgba(0,0,0,0);
    -webkit-transition:background-color 500ms;
}

#menu span {
    display:block;
    height:44px;
    top:44px;
    position:relative;
    text-align:center;
    color:#f7eef3;
    padding:12px 0;
    font-family: montserrat, arial, sans-serif;
    font-size:17px;
    font-weight:bold;
    background-color:rgba(0,0,0,0);
    -webkit-transition:background-color 500ms;
}

#menu div {
    height:100%;   
}

#menu.menu-on {
    visibility:visible;   
    background-color:rgba(0,0,0,0.85); 
}
@media (device-height : 568px) and (device-width : 320px) and (-webkit-min-device-pixel-ratio: 2) { // iPhone 5 only
    #menu.menu-on {
        background-color:rgba(0,0,0,0.7); 
    }
}

#menu.menu-on div, #menu.menu-on > a.hold {
    -webkit-animation:showMenu 0.5s ease forwards;
}

#menu.menu-off {
    background-color:rgba(255,255,255,0);
}

#menu.menu-off div {
     -webkit-animation:hideMenu 0.5s ease forwards;  
}

@-webkit-keyframes showMenu {
    0% {
        -webkit-transform: scale(0);
        opacity:0;
    }
    99% {   
        -webkit-transform: scale(1);
        opacity:1;
        pointer-events:auto;
    }
    100% {
        -webkit-transform: none;
        -webkit-backface-visibility:hidden;
    }
}

@-webkit-keyframes hideMenu {
    0% {
       -webkit-transform: scale(1);
        opacity:1;
        visibility:visible;
    }
    100% {
        -webkit-transform: scale(3);
        opacity:0;
        pointer-events:none;
        visibility:hidden;
    }
}

#menu a, #help table div {
    display:block;
    width:55px;
    height:55px;
    border-radius:30px;
    background-color:#646363;
    background-position:center;
    background-repeat:no-repeat;
    background-size:35px 35px;
    -webkit-transition:-webkit-transform 250ms;
}

#menu > div > a.over {
    -webkit-transform:scale(1.5);
    background-size:40px 40px;
}

#menu > div > a.schedule, #help .schedule {background-image:url(../img/icon-schedule-menu.svg)}
#menu > div > a.social, #help .social {background-image:url(../img/icon-social-menu.svg)}
#menu > div > a.mood, #help .mood {background-image:url(../img/icon-mood-menu.svg)}
#menu > div > a.hotspots, #help .hotspots {background-image:url(../img/icon-hotspots-menu.svg)}
#menu > div > a.dashboard, #help .dashboard {background-image:url(../img/icon-dashboard-menu.svg)}
#menu > div > a.information, #help .information {background-image:url(../img/icon-information-menu.svg)}

#menu.menu-on > a.hold {
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-28px;
    margin-top:-28px;
    text-align:center;
    padding-top:20px;
    background-color:#222022;
    color:#f7eef3;
    font-size:13px;
    -webkit-transition:none;
}

#menu.menu-on.down a.hold {
    -webkit-animation:none;
    -webkit-transform:scale(0);
}*/

/* Menu V2 */

#afui > #menu.tabletMenu {
    border-right:0;
}

#afui > #menu a#menu-profile {
    display:block;
    padding:17px 15px;
    position:relative;
    text-decoration:none;
}

#afui > #menu a span #menu-profile{
    text-decoration:none;
}

#afui > #menu #menu-profile:active, #afui > #menu #menu-profile.active {
    background-color:#1a1a19;
    border-left:3px solid #fff;
    padding:17px 15px 17px 12px;
}

#afui > #menu #menu-profile:active span, #afui > #menu #menu-profile.active span {
    left:107px;
}

#afui > #menu #menu-profile img {
    border-radius:35px;
}

#afui > #menu #menu-profile span {
    position:absolute;
    left:110px;
    top:40px;
    color:#FFF;
    width:120px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

#afui > #menu #menu-profile span.action {
    top:60px;
    color:#aba3ab;
}

#afui > #menu ul.list li {
    padding-left:0;
    border:0;
    border-top:1px solid #000000 !important;
}

#afui > #menu ul.list li a {
    margin-left:0;
    background-position:33px 50%;
    background-size:30px;
    background-repeat:no-repeat;
    padding-left:100px;
}

#afui > #menu ul.list li a:active, #afui > #menu ul.list li a.active {
    background-color:#1a1a19;
    border-left:3px solid #fff;
    padding-left:97px;
    background-position:30px 50%;
}

#afui .list > li > a:after {
    content:" ";
    width:11px;
    height:13px;
    right:22px;
    top:50%;
}

#afui .list > li > a:after, #afui > #menu a#menu-profile:after {
    background-image:url(../img/icon-arrow-right-menu.svg);
    background-size:11px 13px;
    background-repeat:no-repeat;   
}

#afui > #menu a#menu-profile:after {
    content:" ";
    position:absolute;
    width:11px;
    height:13px;
    right:22px;
    bottom:53px;
}

#afui #menu .list > li > a.schedule {background-image:url(../img/icon-schedule-menu.svg)}
#afui #menu .list > li > a.social {background-image:url(../img/icon-social-menu.svg)}
#afui #menu .list > li > a.mood {background-image:url(../img/icon-mood-menu.svg)}
#afui #menu .list > li > a.hotspots {background-image:url(../img/icon-hotspots-menu.svg)}
#afui #menu .list > li > a.dashboard {background-image:url(../img/icon-dashboard-menu.svg)}
#afui #menu .list > li > a.information {background-image:url(../img/icon-information-menu.svg)}
#afui #menu .list > li > a.logout {background-image:url(../img/icon-logout-menu.svg)}

/*#afui > #menu a#menu-profile:before {
    content:" ";
    position:absolute;
    width:23px;
    height:44px;
    top:0px;
    right:0px;
    background-color:#fff;
    border-radius:22px 0px 0px 22px;
}*/

#afui #menu_right .list > li p {
    margin-right:30px;
    line-height:1.5em !important;
}

#afui #menu_right .list .unread {
    width: 9px;
    height: 9px;
    position: absolute;
    right: 22px;
    background-color: #bc38c8;
    border-radius: 5px;
}

#afui #menu_right .list .disabled {
    opacity:0.5;
}

#afui #menu_right .list .disabled .unread {
    visibility:hidden;
}

.afscroll_refresh {
    margin:0px;
    height:80px;
    position:relative;
    text-align:center;
    line-height:1.2em;
    color:white;
    width:100%;
    padding-top:50px;
    background-image:url(../img/icon-arrow-down-menu.svg);
    background-size:13px 11px;
    background-repeat:no-repeat;
    background-position:50% 30px;
}

/* Header */

#afui > #header {
    background-color:#0e0d0e;
    border-bottom:none;
}

#afui > #header header {
    background-color:#FFFFFF;
}

#afui > #header.hidden {
    visibility:hidden;
}


#afui #header h1 {
    font-family: montserrat, arial, sans-serif;
    font-size:17px;
    font-weight:bold;
    padding:13px 0;
    color:#0e0d0e;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    width:60%;
    left:20%;
}

#menu-button {
    display:block;
    width:44px;
    height:44px;
    background-image:url(../img/icon-menu.svg);
    background-repeat:no-repeat;
    background-size:19px;
    background-position:center;
}

#notifications-button {
    display:block;
    width:44px;
    height:44px;
    background-image:url(../img/icon-notifications.svg);
    background-repeat:no-repeat;
    background-size:24px;
    background-position:center;
    float:right;
    position:relative;
}

#afui #backButton {
    float:none;
    text-indent:-1000%;
    overflow:hidden;
    border-radius:0px !important;
    position:absolute;
    left:0px;
    top:0px;
    width:44px;
    height:44px !important;
    display:block;
    border:0 !important;
    background:#FFF !important;
    background-image:url(../img/icon-back.svg) !important;
    background-repeat:no-repeat !important;
    background-size:20px 15px !important;
    background-position:center !important;
}

/* Schedule */

#search {
    height:50px;
    padding:10px 7px;
}

#search input {
    height:30px !important;
    padding:5px 30px 5px 25px !important;
    background-image:url(../img/icon-search.svg) !important;
    background-repeat:no-repeat !important;
    background-color:#323132 !important;
    background-size:12px 12px !important;
    background-position:8px 9px !important;
    border:0 !important;
    border-radius:15px !important;
    display:block;
    color:#999;
    position:relative;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
}

#search input::-webkit-input-placeholder {
    color:#666;
}

#search input[type="submit"] {
    display:none;   
}

#search .close {
    display:none;
    width:50px;
    height:50px;
    background-image:url(../img/icon-close.svg);
    background-repeat:no-repeat;
    background-size:9px;
    background-position:center;
    position:absolute;
    top:0px;
    right:0px;
}

.tab {
    display:inline-block;
    width:50%;
    height:80px;
    text-align:center;
    padding-top:50px;
    border-bottom:2px solid #aba3ab;
    background-repeat:no-repeat;
    background-size:28px;
    background-position:50% 10px;
}

.tab.active {
    border-bottom:2px solid #ed1d24;
    color:#f7eef3;
}

#schedule .af-badge.tr {
    right:10px;
    color:#0e0d0e;
}

#schedule-find.tab {background-image:url(../img/icon-event-light.svg);}
#schedule-find.tab.active {background-image:url(../img/icon-event-white.svg);}

#schedule-me.tab {background-image:url(../img/icon-schedule-light.svg);}
#schedule-me.tab.active {background-image:url(../img/icon-schedule-white.svg);}

#schedule-day {
    text-align:center;
    height:50px;
    padding-top:16px;
    position:relative;
    font-weight:bold;
    font-family: montserrat, arial, sans-serif;
}

#schedule-day .left, #schedule-day .right {
    display:block;
    width:50px;
    height:50px;
    position:absolute;
    top:0px;
    background-repeat:no-repeat;
    background-position:center;
    background-size:12px 19px;
}

#schedule-day .disabled {
    opacity:0.3;   
}

#schedule-day .left {
    left:0px;
    background-image:url(../img/icon-arrow-left.svg);
}

#schedule-day .right {
    right:0px;
    background-image:url(../img/icon-arrow-right.svg);
}

.cancelled {
    color:#ed1d24;
    font-weight:bold;
}

#schedule-list:after {
    content:" ";
    clear:both;
    display:block;
}

#schedule table .button {
    /*position:absolute;*/
    padding:0 !important;
    width:100%;
}

.icon {
    width:68px;
    height:68px;
    border-radius:34px;
    background-color:#646363;
    background-repeat:no-repeat;
    background-size:40px 40px;
    background-position:center;
    margin-right:12px;
}

.directions {
    background-image:url(../img/icon-directions.svg);
    
}

.accessibility {
    background-image:url(../img/icon-accessibility.svg);   
}

.button.map {
    width:160px;   
}

.event-large {
    width:100%;
    max-width:none;
}

/* Map */

#afui .afScrollPanel {
}

#map {
    height:100%;
}

/* Feedback */

#post-feedback input[type="text"] {
    margin-top:10px;
}

#post-feedback a.button.notattend {
    margin:27px auto 0px auto;
}

/* Mood */


#mood .knob-container {
    position:relative;
    width:200px;
    height:176px;
    margin:0 auto;
}

#mood .knob-container:before, .knob-container:after, #mood-value {
    color:#CCCCCC;
    font-size:28px;
    display:block;  
    position:absolute;
    bottom:20px;
}

#mood .knob-container:before {
    content:"-";
    left:-10px;
    bottom:0px;
}

#mood .knob-container:after {
    content:"+";
    right:-10px;
    bottom:0px;
}

#mood-title {
    -webkit-transition:all 500ms;
    font-family: montserrat, arial, sans-serif;
    color:#92278f;
    position:absolute;
    width:130px;
    margin:0 auto;
    top:80px;
    left:35px;
    font-size:20px;   
    text-align:center;
}

#mood-title.submit {
    -webkit-transform:scale(1.1);
    color:#FFFFFF !important;
}

#mood-value {
    width:200px;
    text-align:center;
    pointer-events:none;
    bottom:0px;
}

/* Dashboard */

#dashboard .knob-container {
    width:85px;
}

.help-box {
    text-align:right;
    padding-right:10px;
    height:45px;
}

.help-box span {
    display:inline-block;
    margin-top:13px;
    margin-right:10px;
    font-size:13px;
    color:#f7eef3;
}

#afui .help-box .button.help {
    border-radius:12px !important;
    margin-top:9px;
    width:25px;
    height:25px;
    background-repeat:no-repeat !important;
    background-size:7px 11px !important;
    background-position:center !important;
    background-image:url(../img/icon-help.svg) !important;
}
#dashboard #visualisations {
    pointer-events:none;
    max-width:100%;
    overflow:hidden;
    margin-top:1em;
}

#dashboard iframe {
    overflow:hidden;
    height:auto;
    width:100%;
    display:none;
    pointer-events:none;
}

iframe::-webkit-scrollbar {
    display:none;
}

/* Dashboard V2 */

#next-event li {
    padding:12px 16px 14px 16px;
    border-bottom:1px solid #5d585d;
}

#next-event .time {
    color:#f7eef3;
    font-weight:bold;
    margin-bottom:12px;
}

#next-event .time .timeago {
    display:block;   
}

#dashboard .columns {
    font-size:10px;  
    padding:32px 0px;
    color:#f8f9fa;
}

.ring-counter {
    border:3px solid #ffffff;
    border-radius:36px;
}

#dashboard .third-column > a {
    display:block;
    margin:0 auto;
    width:71px;
    height:71px;    
    font-size:14px;
    font-weight:bold;
    line-height:4.7em;
    margin-bottom:12px;
    color:inherit;
    text-decoration:none;
}

#dashboard .third-column a.ring-counter {
    line-height:4.2em;   
}

#dashboard .third-column > a > div {
    position:absolute;
    top:0px;
    left:50%;
    margin-left:-35.5px;
}

#dashboard .third-column > a > span {
    top: 3px;
    position: relative;   
}

#dashboard .current-mood {
    display:inline;
}

#dashboard ul#user-profile {
    margin-top:24px;   
}

#dashboard #user-profile li {
    padding:0px 16px;  
}

/* Social */

#social .post-box {
    position:relative;
    margin-bottom:10px;
}

#social .post-box .button.send {
    margin:0;
    position:absolute;
    right:0px;
    top:7px;
    height:26px;
    width:80px;
}

#social .post-box .button.send span {
    padding-top:5px;   
}

#social .post-box input {
    padding-right:80px;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden; 
}

.onoffswitch {
    position: relative; 
    width: 80px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    border: 1px solid #FFFFFF; 
    border-radius: 13px;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block !important; 
    overflow: hidden; 
    cursor: pointer;
    height:24px;
    float:none !important;
    width:auto !important;
    padding:0 !important;
    -webkit-mask-image: url(../img/switch-mask.png);
}
.onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; 
    width: 50%; 
    height: 28px; 
    padding: 0; 
    line-height: 26px;
    font-size: 16px; 
    color: white; 
    font-family: Trebuchet, Arial, sans-serif; 
    font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    font-weight:normal;
    content: "ON";
    padding-left: 13px;
    background-color: #0E0D0E; color: #FFFFFF;
}
.onoffswitch-inner:after {
    font-weight:normal;
    content: "OFF";
    padding-right: 13px;
    background-color: #000000; color: #ABA3AB;
    text-align: right;
}
.onoffswitch-switch {
    width: 18px; 
    margin: 3px;
    background: #FFFFFF;
    border: 2px solid #FFFFFF; 
    border-radius: 20px;
    position: absolute; 
    top: 0; 
    bottom: 0; 
    right: 53px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

.onoffswitch.facebook {
    margin-left:30px; 
    float:left;
}

.onoffswitch.twitter {
    float:right;   
}

.onoffswitch.facebook:before, .onoffswitch.twitter:before {
    content:"";
    position:absolute;
    background-repeat:no-repeat;
    background-position:center;
    top:3px;
}

.onoffswitch.facebook:before {
    left:-30px;
    background-size:11px 21px;
    width:11px;
    height:21px;
    background-image:url(../img/icon-facebook.svg);
}

.onoffswitch.twitter:before {
    left:-40px;
    background-size:24px 19px;
    width:24px;
    height:19px;
    background-image:url(../img/icon-twitter.svg);
}

#social .timestamp {
    color:#fefefe;
    font-size:10px;
}

/* About the App */

#information table .button {
    width:160px;   
}

/* Notifications */

#notifications .button.centre {
       margin:0 auto;
}

/* Help */

#help li {
    border-bottom:none; 
    padding:27px 21px 0px 21px;
}

#help li:last-child {
    padding:27px 21px;   
}

#help table div.menu, #help table div.notification {
    background-color:#FFF;
}

#help table div.menu {
    background-size:22px;
    background-image:url(../img/icon-menu.svg);
}

#help table div.notification {
    background-size:28px;
    background-image:url(../img/icon-notifications.svg);
}

/* Error Messages */

li.no-search, li.no-events, li.no-connection {
    text-align:center;
    background-size:57px;
    background-repeat: no-repeat;
    background-position: 50% 30px;
    padding-top: 100px;
}

li.no-search {
    background-image:url(../img/icon-no-search.svg);
}

li.no-events {
    background-image:url(../img/icon-no-events.svg);
}

li.no-connection {
    background-image:url(../img/icon-no-connection.svg);
}